<a href="https://colab.research.google.com/github/alihammadbaig/ML/blob/master/Descriptive_Stats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Descriptive Statistics For pandas Dataframe

In [0]:
import pandas as pd

In [2]:
data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'age': [42, 52, 36, 24, 73], 
        'preTestScore': [4, 24, 31, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70]}
df = pd.DataFrame(data, columns = ['name', 'age', 'preTestScore', 'postTestScore'])
df

    name  age  preTestScore  postTestScore
0  Jason   42             4             25
1  Molly   52            24             94
2   Tina   36            31             57
3   Jake   24             2             62
4    Amy   73             3             70

Sum of all ages

In [5]:
df['age'].sum()

227

In [6]:
df['preTestScore'].mean()

12.8

In [7]:
df['preTestScore'].cumsum()

0     4
1    28
2    59
3    61
4    64
Name: preTestScore, dtype: int64

In [8]:
df['preTestScore'].describe()

count     5.000000
mean     12.800000
std      13.663821
min       2.000000
25%       3.000000
50%       4.000000
75%      24.000000
max      31.000000
Name: preTestScore, dtype: float64

**Sample variance of preTestScore **

In [9]:
df['preTestScore'].var()

186.7

**Sample standard deviation of preTestScore values**

In [10]:
df['preTestScore'].std()

13.663820841916802

**Skewness of preTestScore values**

In [11]:
df['preTestScore'].skew()

0.7433452457326751

**Kurtosis of preTestScore values**

In [12]:

df['preTestScore'].kurt()

-2.4673543738411547

**Correlation Matrix Of Values**

In [13]:
df.corr()

                    age  preTestScore  postTestScore
age            1.000000     -0.105651       0.328852
preTestScore  -0.105651      1.000000       0.378039
postTestScore  0.328852      0.378039       1.000000

**Covariance Matrix Of Values**

In [14]:
df.cov()

                  age  preTestScore  postTestScore
age            340.80        -26.65         151.20
preTestScore   -26.65        186.70         128.65
postTestScore  151.20        128.65         620.30